#mapa svg {
    border: 1px solid red;
}

.municipios path {
    fill: red;
    border: 2px solid black;
}

.municipios path:hover { fill: blue; }

.provincias path {
    fill: blue;
    border: 2px solid black;
}

.provincias path:hover { fill: green; }

.comarcas path {
    fill: purple;
    border: 2px solid black;
}

.comarcas path:hover { fill: pink; }