.aragon {
    stroke-width: 2;
    stroke: #000000;
    fill: none;
}

.provincias path {
    stroke-width: 3;
    stroke: orange;
    fill: none;
}

.comarcas path {
    stroke-width: 2;
    stroke: blue;
    fill: none;
}

.municipios path {
    fill: red;
    stroke-width: 1;
    stroke: green;
}

.municipios path:hover { fill: blue; }
